@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
   color: #000;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
}

.container {
   margin: 0 auto;
   padding: 0 30px;
   max-width: 1230px;
}

/*header start*/
.header {
   padding-top: 46px;
   background-color: #F1F1F1;
}

.header__nav {
   margin-bottom: 76px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.logo {
   position: relative;
   padding: 0 12px 3px 0;
   font-weight: 700;
   font-size: 32px;
   line-height: 1;
   color: #000;
}

.logo::after {
   position: absolute;
   right: 0;
   bottom: 0;
   content: "";
   display: block;
   width: 8px;
   height: 8px;
   background-color: #FDA300;
   border-radius: 50%;
}

.nav__list {
   display: flex;
   column-gap: 50px;
   font-weight: 500;
   font-size: 14px;
}

.nav__link {
   color: #000;
}

.nav__link.active {
   color: #606060;
}

.nav__button {
   display: none;
}

.header__row {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}

.header__heading {
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 44px;
}

.header__content {
   margin-top: 124px;
   max-width: 500px;
}

.header__content p {
   line-height: 2;
}
/*header end*/

/*services start*/
.services {
   padding: 90px 0;
}

.services__row {
   display: flex;
   column-gap: 60px;
   column-gap: 30px;
   flex-wrap: wrap;
}

.service__card-img {
   margin-bottom: 30px;
}

.service__card-title {
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 24px;
   text-transform: uppercase;
}

.service__card {
   flex: 1 1 0;
}

.service__card p {
   line-height: 2;
}
/*services end*/

/*portfolio start*/
.portfolio {
   padding: 90px 0;
   background-color: #F1F1F1;
}

.portfolio__title {
   margin-bottom: 70px;
   text-align: center;
}

.title-main {
   font-size: 34px;
   font-weight: 600;
}

.project {
   text-align: center;
}

.project + .project {
   margin-top: 90px;
}

.project__img {
   margin-bottom: 40px;
}

.project__title {
   font-size: 18px;
}

.project__title a {
   color: #000;
   text-decoration: underline;
}
/*portfolio end*/

/*footer start*/
.contacts {
   padding: 90px 0;
   text-align: center;
}

.contacts__title {
   margin-bottom: 40px;
}

.contacts__content {
   max-width: 480px;
   margin: 0 auto 40px;
   font-size: 18px;
}

.contacts__content p + p {
   margin-top: 1em;
}

.contacts__button {
   margin-bottom: 80px;
}

.btn {
   display: inline-block;
   padding: 7px 22px;
   background-color: #070707;
   border-radius: 30px;
   font-size: 18px;
   color: #fff;
   transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
   background-color: #323232;
}

.btn:active {
   position: relative;
   top: 1px;
   background-color: #000;
}

.contacts__social {
   margin-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 60px;
}

.contacts__footer {
   color: #828282;
}
/*footer end*/